body {
    font-family: 'Comfortaa', cursive !important;
    background-image: url('https://images.wallpaperscraft.com/image/aircraft_track_sky_135957_2560x1024.jpg');
    background-repeat: no-repeat;
}

.heading {
    color: black;
}

.login-class {
    padding: 100px;
    margin-top: 10%;
    margin-left: 30%;
    width: 40%;
}

#login-button {
    width: 100px;
}

#homepage {
    background-color: black !important;
}